---
import {
  SidebarEntry,
  getPrevNextLinks,
} from '@astrojs/starlight/utils/navigation'
import config from 'virtual:starlight/user-config'

import type { LocaleData } from '../starlight/utils/slugs'
import EditLink from './EditLink.astro'
import LastUpdated from './LastUpdated.astro'
import PrevNextLinks from './PrevNextLinks.astro'

interface Props extends LocaleData {
  slug: string
  editUrl: string | boolean
  sidebar: SidebarEntry[]
}

const { slug, sidebar, locale, editUrl, lang, dir } = Astro.props
const prevNextLinks = getPrevNextLinks(sidebar)
---

<footer>
  <div class="meta flex">
    {
      config.editLink.baseUrl && (
        <EditLink editUrl={editUrl} slug={slug} locale={locale} />
      )
    }
    <LastUpdated slug={slug} lang={lang} locale={locale} />
  </div>
  <PrevNextLinks {...prevNextLinks} dir={dir} locale={locale} />
</footer>

<style>
  .meta {
    gap: 0.75rem 3rem;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-block: 3rem 1.5rem;
    font-size: var(--sl-text-sm);
    color: var(--sl-color-gray-3);
  }
</style>
